<mat-sidenav-container>
  <mat-sidenav mode="side" opened class="side-nav">
    <div class="side-nav-title">
      <h2>Project1</h2>
    </div>
    <div class="side-nav-container">
      <div class="side-nav-item" *ngFor="let navItem of navItems">
        <h3>{{ navItem.name }}</h3>
        <div class="link-container" *ngIf="navItem.children">
          <mat-list-item
            *ngFor="let item of navItem.children"
            [routerLink]="item.link"
          >
            <mat-icon [fontIcon]="item.icon"></mat-icon>
            <span>
              {{ item.name }}
            </span>
          </mat-list-item>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
